@using BusFinderAppCore.ViewModels;


@model SchedulesViewModel
@{
    ViewData["Title"] = "Itinerary";
}

<div class="text-center">
    <h1 class="display-4">Itinerary</h1>
</div>

<table class="table table-striped" border="1">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Station name", "Index", "Itinerary", new { sortColumn = "Name", sortDirection = Model.SortDirection == "" ? "desc" : "" })
            </th>
            <th>
                @Html.ActionLink("Station address", "Index", "Itinerary", new { sortColumn = "Address", sortDirection = Model.SortDirection == "" ? "desc" : "" })
            </th>
            <th>
                @Html.ActionLink("Message", "Index", "Itinerary", new { sortColumn = "Message", sortDirection = Model.SortDirection == "" ? "desc" : "" })
            </th>
            <th>
                @Html.ActionLink("Time", "Index", "Itinerary", new { sortColumn = "Time", sortDirection = Model.SortDirection == "" ? "desc" : "" })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model.Schedules)
        {
            <tr>
                <td>
                    @schedule.station.Name
                </td>
                <td>
                    @schedule.station.full_address
                <td>
                    @schedule.schedule.message
                </td>
                <td>
                    @schedule.schedule.Datetime
                </td>
            </tr>
        }
    </tbody>
</table>
