<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bus Finder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
<nav class="navi">
    <div class="navi-container">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Podróż", "Index", "Itinerary", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Informacje", "", "", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Aktualności", "", "", null, new { @class = "nav-link" })
            </li>
        </ul>
    </div>
</nav>
<div class="my-background">
    <div class="my-container">
        @RenderBody()
    </div>
</div>
<footer class="my-footer">
    <div class="inline">
        <p>

        </p>
    </div>
</footer>
<script src="js/site.js"></script>
</body>
</html>